In [0]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import approx_count_distinct,collect_list
from pyspark.sql.functions import collect_set,sum,avg,max,countDistinct,count
from pyspark.sql.functions import first, last, kurtosis, min, mean, skewness 
from pyspark.sql.functions import stddev, stddev_samp, stddev_pop, sumDistinct
from pyspark.sql.functions import variance,var_samp,  var_pop

spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

In [0]:
sampledata = [("James", "Sales", 3000),
    ("Michael", "Sales", 4600),
    ("Robert", "Sales", 4100),
    ("Maria", "Finance", 3000),
    ("James", "Sales", 3000),
    ("Scott", "Finance", 3300),
    ("Jen", "Finance", 3900),
    ("Jeff", "Marketing", 3000),
    ("Kumar", "Marketing", 2000),
    ("Saif", "Sales", 4100)
  ]
schema = ["employee_name", "department", "salary"]
df = spark.createDataFrame(data=sampledata, schema = schema)
df.printSchema()
df.show(truncate=False)

root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- salary: long (nullable = true)

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|James        |Sales     |3000  |
|Michael      |Sales     |4600  |
|Robert       |Sales     |4100  |
|Maria        |Finance   |3000  |
|James        |Sales     |3000  |
|Scott        |Finance   |3300  |
|Jen          |Finance   |3900  |
|Jeff         |Marketing |3000  |
|Kumar        |Marketing |2000  |
|Saif         |Sales     |4100  |
+-------------+----------+------+

In [0]:
#approx_count_distinct Aggregate Function
print("approx_count_distinct: " + \
      str(df.select(approx_count_distinct("salary")).collect()[0][0]))

In [0]:
df.select(approx_count_distinct("salary")).show()

In [0]:
#avg (average) Aggregate Function
print("avg: " + str(df.select(avg("salary")).collect()[0][0]))

In [0]:
#collect_set Aggregate Function
df.select(collect_list("salary")).show(truncate=False)

In [0]:
#countDistinct Aggregate Function
df = df.select(countDistinct("department", "salary"))
df.show(truncate=False)
print("Distinct Count of Department & Salary: "+str(df.collect()[0][0]))

In [0]:
#count function
print("count: "+str(df.select(count("salary")).collect()[0][0]))

count: 10

In [0]:
#str(df.select(df.department).count().show())
df.groupBy("department").count().show()

+----------+-----+
|department|count|
+----------+-----+
|     Sales|    5|
|   Finance|    3|
| Marketing|    2|
+----------+-----+

In [0]:
df.groupBy("salary").count().show()

+------+-----+
|salary|count|
+------+-----+
|  4100|    2|
|  4600|    1|
|  3000|    4|
|  3300|    1|
|  3900|    1|
|  2000|    1|
+------+-----+

In [0]:
#sum
df.groupBy('department').sum("salary").show()

+----------+-----------+
|department|sum(salary)|
+----------+-----------+
|     Sales|      18800|
|   Finance|      10200|
| Marketing|       5000|
+----------+-----------+

In [0]:
print("sum: "+str(df.select(sum("salary")).collect()[0][0]))

sum: 34000

In [0]:
df.select(sum("salary")).show()

+-----------+
|sum(salary)|
+-----------+
|      34000|
+-----------+

In [0]:
#min
df.select(min("salary")).show()

+-----------+
|min(salary)|
+-----------+
|       2000|
+-----------+

In [0]:
#max
df.select(max("salary")).show()

+-----------+
|max(salary)|
+-----------+
|       4600|
+-----------+

In [0]:
print("max salary : ",df.select(max("salary")).collect()[0][0])

max salary :  4600

In [0]:
#grouping function

Exception in thread "main" org.apache.spark.sql.AnalysisException:
  # grouping() can only be used with GroupingSets/Cube/Rollup

  File <command-1620144139366253>:3
    Exception in thread "main" org.apache.spark.sql.AnalysisException:
                        ^
SyntaxError: invalid syntax

In [0]:
#first
df.select(first("salary")).show(truncate=False)

+-------------+
|first(salary)|
+-------------+
|3000         |
+-------------+